<a class="btn btn-default btn-xs" title="Activar alumno"  ng-if="showActivateButton(oBean)" ng-click="activate(oBean)" href="">
    <span class="glyphicon glyphicon-arrow-up"></span>
</a>
<a class="btn btn-default btn-xs" title="Desactivar alumno" ng-if="showDeactivateButton(oBean)" ng-click="deactivate(oBean)" href="">
    <span class="glyphicon glyphicon-arrow-down"></span>
</a>
<a class="btn btn-default btn-xs" title="Reset pass" ng-if="showResetPass(oBean)" ng-click="resetPass(oBean)" href="">
    <span class="glyphicon glyphicon-asterisk"></span>
</a>