<tr ng-controller="plistHeaderSpaController"> 
     <th ng-repeat="field in metap" ng-if="field.IsVisible  && field.Type == 'Id'" class="text-center" style="border-color:#ddd;">                                            
        <label>{{field.ShortName}}&nbsp;<span class="fa fa-key"></label><br/>
        <a ng-if="field.IsVisible" ng-click="doorder(field.Name, 'asc')"><i class="glyphicon glyphicon-arrow-up"></i></a>
        <a ng-if="field.IsVisible" ng-click="doorder(field.Name, 'desc')"><i class="glyphicon glyphicon-arrow-down"></i></a>
    </th>
    <th ng-repeat="field in metap" ng-if="field.IsVisible && field.Type != 'Id'" class="text-center" style="border-color:#ddd;">                                            
        <label>{{field.ShortName}}</label><br/>
        <i ng-if="field.IsVisible && field.Type == 'Link'" class="fa fa-hand-o-down"></i>                        
        <a ng-if="field.IsVisible && field.Type != 'Link' && field.Type == 'ForeignObject'" ng-click="doorder('id_' + field.References, 'asc')"><i class="glyphicon glyphicon-arrow-up"></i></a>
        <a ng-if="field.IsVisible && field.Type != 'Link' && field.Type == 'ForeignObject'" ng-click="doorder('id_' + field.References, 'desc')"><i class="glyphicon glyphicon-arrow-down"></i></a>                
        <a ng-if="field.IsVisible && field.Type != 'Link' && field.Type != 'ForeignObject'" ng-click="doorder(field.Name, 'asc')"><i class="glyphicon glyphicon-arrow-up"></i></a>
        <a ng-if="field.IsVisible && field.Type != 'Link' && field.Type != 'ForeignObject'" ng-click="doorder(field.Name, 'desc')"><i class="glyphicon glyphicon-arrow-down"></i></a>
    </th>
    <th  class="text-center">
        <label>Acciones</label><br/>
        <i class="fa fa-cogs">
    </th>
</tr>